 h1 {
        font-family: "Montserrat-Black";
        font-size: 4.5rem;
        line-height: 1.5;
        font-weight: 900;
        text-align: center;
    }
    div {
      padding: 5% 3%;
    }
    
    .carousel-item {
    height: 580px;
    }
    .container-fluid {
        padding: 3% 15%;
    }

